.Blog {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 50px;
  margin: 5% 20%;
  width: 90%;
}
/* Media Query for Tablets */
@media (max-width: 768px) {
  .Blog {
    margin-top: 50px;
    grid-template-columns: 100%; /* Display a single column for tablets */
    margin-left: 0; /* Remove left margin for tablets */
    gap: 20px; /* Adjust gap for tablets */
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .Blog {
    margin-top: 50px;
    grid-template-columns: 100%; /* Display a single column for mobile devices */
    margin-left: 0; /* Remove left margin for mobile devices */
    gap: 10px; /* Adjust gap for mobile devices */
  }
}
