.Pa {
  display: flex;
  flex-direction: row;
}
.Hero {
  width: 50%;
  height: 50vh;
  margin: 10px;
  padding: 10px;
}

.ContactMe:hover {
  cursor: pointer;
}
.Hero img {
  width: 50%;
}
.container {
  position: relative;
  text-align: left;
  color: white;
  width: 80%;
  height: 20vh;
  line-height: 1;
}

.bottomleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 35px;
  color: black;
}

.contacts {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}
.contacts p {
  font-size: 13px;
  margin: 15px;
}
.Image {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.image {
  width: 100%;
}
.Home {
  width: 80%;
}
.Text {
  margin: 10px 0 20px 0;
}

.socials {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 20px;
}
.line {
  width: 2px;
  height: 30px;
}
@media only screen and (max-width: 600px) {
  .Pa {
    z-index: -100;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .Hero {
    grid-row: 2/3;
    height: auto;
    width: 90%; /* Adjust width as needed for smaller screens */
  }
  .Image {
    grid-row: 1/2;
  }
  .Hero img {
    width: 100%; /* Adjust image width for smaller screens */
  }

  .container {
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Allow the height to adjust based on content */
  }

  .contacts {
    flex-direction: column; /* Change to a column layout on smaller screens */
  }

  .contacts p {
    margin: 5px; /* Adjust margin for smaller screens */
  }

  .Image {
    width: 100%; /* Adjust width for smaller screens */
  }

  .Home {
    width: 100%; /* Adjust width for smaller screens */
  }
}
