@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  font-family: "Dosis", sans-serif;
}

.Aboutlayer {
  display: grid;
  grid-template-columns: 50% 50%;

  margin: 1% 0 0% 0%;
  width: 100%;
}

.Left {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  grid-row: 2/3;

}
.Left>div{
  width: 50%;
}
.Community {
  grid-column: 1/2;
  grid-row: 2/3;
}

.Right {
  display: flex;
  flex-direction: row;
  grid-row: 1/2;
  width: 100%;
  grid-column: 1/3;
}
.Right>div{
  width: 50%;
}
.Profile {
  width: 60%;
}

.Name {
  width: 60%;
}

.Cv {
  width: 30%;
  margin: 10px 0 0 5rem;
}

.Cv:hover {
  cursor: pointer;
}

.Contacts {
  display: flex;
  flex-direction: row;
}

.Contacts p {
  margin: 15px;
}

.Info {
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 1px rgb(197, 197, 197) solid;
}

.Info span {
  margin: 5px;
}

.Block {
  margin: 30px 0;
  background: black;
  color: white;
  padding: 10px 5px;
  height: 15vh;
  width: 98%;
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 10px;
}

.Footer {
  grid-column: 1 / -1;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(to right,
      rgb(255, 0, 157),
      rgb(255, 187, 0));
}

/* For screens smaller than 768px (e.g., tablets and mobile) */
@media only screen and (max-width: 768px) {
  .Profile {
    width: auto;
  }

  .Aboutlayer {
    width: 100%;
    padding: 5px;
    grid-template-columns: 100%;
    /* Adjust columns to stack on smaller screens */
    grid-template-rows: auto auto;
    /* Adjust rows for responsiveness */
    margin: 40px 0;
    /* Adjust margin for spacing on smaller screens */
  }

  .Right {
    display: flex;
    flex-direction: column;
  }

  .Right>div{
    width: 100%;
  }


  .Left{
    display: flex;
    flex-direction: column;
  }
  .Left>div{
    width: 100%;
  }
  .Left img {
    justify-items: center;
  }
  .CommunityImage>img{
    display: hidden;
  }

  .Cv {
    margin: 10px 0;
    /* Adjust margin for spacing on smaller screens */
  }

  .Cv:hover {
    cursor: pointer;
  }

  .Contacts {
    padding: 2px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  .Info {
    grid-template-columns: 100%;
    /* Adjust columns to stack on smaller screens */

    padding: 10px;
  }

  .Info span {
    margin: 2px 0;
    /* Adjust margin for spacing on smaller screens */
  }

  .Block {
    width: 92%;
    padding: 10px;
    font-size: 12px;
    margin: 0 0 20px 0;
    /* Adjust margin for spacing on smaller screens */
    height: auto;
    /* Adjust height for responsiveness */
  }

  .Block>img {
    width: 40%;
  }

  .Footer {
    padding: 10px;
    width: 100vw;
  }
}

/* For screens between 769px and 1024px (e.g., larger tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Add specific styles for tablets if needed */
}