.About {
  margin-left: 22.3%;
  background-color: white;
  width: 75%;
  align-content: center;
} 
.Line{
  background: linear-gradient(to right, rgb(164, 106, 247), rgb(243, 153, 36));
  height: 20px;
  width: 100%;
margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .About {
    margin: 40px 0 0 0;
    height: 100%;
    width: 100vw;
    padding: 5px;
    align-content: center;
  }
}
