.About {
  margin-left: 30.3%;

  width: 75%;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .About {
    margin: 40px 0 0 0;
    height: 100%;
    width: 100vw;
    padding: 5px;
    align-content: center;
  }
}
