.Contact {
  margin-left: 30.3%;
  width: 100%;
  height: 80vh;
  align-content: center;
}
@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .Contact {
    margin: 70px auto;
    height: 100vh;
    width: 95%;

    align-content: center;
  }
}
