.Contact {
  background-color: white;
  margin-left: 22.3%;
  width: 100%;

  align-content: center;
}
@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .Contact {
    margin:2rem 10px;
    width: 100%;
    align-content: center;
  }
}
