
@media only screen and (min-width: 768px) {
.Heroicons>img{
  margin-left: 2%;
  width: 5%;
  object-fit: contain;
  
}

.Heroicons{
  margin-left: 20%;
}
.Heroicons{
  justify-content: center;
width: 70%;
}

}


@media only screen and (max-width: 600px) {
  .Home {
   background-color: white;
    width: 100%;
    margin: 0;
    height: 100%;
    margin: 70px 0;
    align-content: center;
  }
  .Heroicons>img{
    margin-left: 2%;
    width: 10%;
    object-fit: contain;
    
  }
  .Heroicons{
    width: 90%;
  }
}
