.Services {
  margin-left: 30.3%;
  width: 70vw;
  height: 80vh;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .Services {
    height: 100%;
    width: 100%;
    align-content: center;
    margin: 70px 0;
  }
}

@media only screen and (max-width: 480px) {
  .Services {
    height: 100%;
    margin: 70px 0;
    width: 100%;
    align-content: center;
  }
}
